*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 3rem;
}

.youtube-logo {
  height: 20px;
}

.search-bar {
  display: flex;
  flex-grow: 0.5;
  margin: 0 2rem 0 4rem;
  border-radius: 2px;
}

.search-input {
  width: 100%;
  font-size: inherit;
  padding: 0.4em;
  border: 1px solid #777;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #f8f8f8;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #f0f0f0;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.5rem;
}

.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}

#videos_div {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  padding: 3%;
  gap: 1.5%;
}

iframe {
  width: 100%;
}
